* {
  box-sizing: border-box;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
}

.vid-info {
  bottom: 0;
  color: #bd1f1d;
  font-family: 'Diplomata SC', sans-serif;
  font-size: 1.5em;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
}

.vid-info h1 {
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
}

.vid-info a {
  display: block;
  color: #bd151d;
  text-decoration: none;
  -webkit-transition: .6s background;
  transition: .6s background;
  text-align: center;
}

.vid-info p {
  text-align: center;
  font-family: monospace;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 430px) {
  .vid-info {
    font-size: 1em;
  }
}
